/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "open Sans", sans-serif;
    color: #272829;
}

a {
    color: #0563bb;
    text-decoration: none;
}

a:hover {
    color: #067ded;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif;
    color:#0c7cec;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    background: #6c9ecf;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 30px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #0678e3;
    color: #fff;
  }
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  /*------------------------------------------------------------
  #soscial link
  ------------------------------------------------------------*/
 .social-links {
    margin-top: 30px;
  }
.social-links a {
    font-size: 24px;
    display: inline-block;
    color: #45505b;
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
  }
.social-links a:hover {
    color: #0563bb;
  }
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #0563bb;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
  }
  @media (max-width: 992px) {
    #header {
      width: 300px;
      background: #fff;
      border-right: 1px solid #e6e9ec;
      left: -300px;
    }
  }
  
  @media (min-width: 992px) {
    #main {
      margin-left: 100px;
    }
  }
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .nav-menu {
    padding: 0;
    display: block;
  }
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
  }
  .nav-menu a, .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
  }
  .nav-menu a i, .nav-menu a:focus i {
    font-size: 20px;
  }
  .nav-menu a span, .nav-menu a:focus span {
    padding: 0 5px 0 7px;
    color: #45505b;
  }
  @media (min-width: 992px) {
    .nav-menu a, .nav-menu a:focus {
      width: 56px;
    }
    .nav-menu a span, .nav-menu a:focus span {
      display: none;
      color: #fff;
    }
  }
  .nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a {
    color: #fff;
    background: #0563bb;
  }
  .nav-menu a:hover span, .nav-menu .active span, .nav-menu .active:focus span, .nav-menu li:hover > a span {
    color: #fff;
  }
  .nav-menu a:hover, .nav-menu li:hover > a {
    width: 100%;
    color: #fff;
  }
  .nav-menu a:hover span, .nav-menu li:hover > a span {
    display: block;
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 28px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 0;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
  }
  .mobile-nav-toggle i {
    color: #45505b;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  .mobile-nav-active #header {
    left: 0;
  }
  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    background-color: #0563bb;
  }
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("../img/hero-bg.jpg") center center no-repeat;
    background-size: cover;
  }
  #hero .container, #hero .container-fluid {
    padding-top: 84px;
  }
  #hero h1 {
    margin: 0;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
  }
  #hero h2 {
    color: rgba(255, 255, 255, 0.8);
    margin: 10px 0 0 0;
    font-size: 20px;
  }
  #hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    border: 2px solid #fff;
  }
  #hero .btn-get-started:hover {
    background: #fff;
    color: #5846f9;
  }
  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  @media (min-width: 1200px) {
    #hero {
      background-attachment: fixed;
    }
  }
  @media (max-width: 991px) {
    #hero {
      text-align: center;
    }
    #hero .container, #hero .container-fluid {
      padding-top: 68px;
    }
    #hero .animated {
      -webkit-animation: none;
      animation: none;
    }
    #hero .hero-img {
      text-align: center;
    }
    #hero .hero-img img {
      width: 50%;
    }
  }
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 26px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
    #hero .hero-img img {
      width: 60%;
    }
  }
  @media (max-width: 575px) {
    #hero .hero-img img {
      width: 80%;
    }
  }
  @media (max-width: 575px), (max-height: 600px) {
    #hero {
      height: auto;
    }
  }
  
  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;
  }
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #0563bb;
    bottom: 0;
    left: calc(50% - 20px);
  }
  .section-title p {
    margin-bottom: 0;
  }
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 20px 0;
    background-color: #f4f5f6;
    min-height: 40px;
    margin-top: 78px;
  }
  @media (max-width: 992px) {
    .breadcrumbs {
      margin-top: 60px;
    }
  }
  .breadcrumbs h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
  }
  @media (max-width: 992px) {
    .breadcrumbs h2 {
      margin: 0 0 10px 0;
    }
  }
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
  .breadcrumbs ol li + li {
    padding-left: 10px;
  }
  .breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
  }
  @media (max-width: 768px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }
    .breadcrumbs ol {
      display: block;
    }
    .breadcrumbs ol li {
      display: inline-block;
    }
  }
  
  /*--------------------------------------------------------------
  # About Me
  --------------------------------------------------------------*/
  .about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #3b434a;
    text-transform: uppercase;
  }
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  .about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  .about .content ul strong {
    margin-right: 10px;
  }
  .about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #ffb727;
    line-height: 0;
  }
  .about .content p:last-child {
    margin-bottom: 0;
  }
  .about .content .count-box {
    width: 100%;
  }
  .about .content .count-box i {
    display: block;
    font-size: 36px;
    color: #ffb727;
    float: left;
    line-height: 0;
  }
  .about .content .count-box span {
    font-size: 36px;
    line-height: 30px;
    display: block;
    font-weight: 700;
    color: #3b434a;
    margin-left: 50px;
  }
  .about .content .count-box p {
    padding: 15px 0 0 0;
    margin: 0 0 0 50px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #5d6a75;
  }
  .about .content .count-box a {
    font-weight: 600;
    display: block;
    margin-top: 20px;
    color: #5d6a75;
    font-size: 15px;
    font-family: "Satisfy", serif;
    transition: ease-in-out 0.3s;
  }
  .about .content .count-box a:hover {
    color: #82909c;
  }
  .about .image {
    background: url("../img/pp.jpeg") center center no-repeat;
    background-size: cover;
    min-height: 500px;
  }
  .about .skills-content {
    margin-top: 30px;
  }
  .about .skills-content .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
  }
  .about .skills-content .progress .skill {
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #3b434a;
  }
  .about .skills-content .progress .skill .val {
    float: right;
    font-style: normal;
  }
  .about .skills-content .progress-bar-wrap {
    background: #e6e8eb;
  }
  .about .skills-content .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #ffb727;
  }
/*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/
.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
  }
  .skills .progress .skill {
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #45505b;
  }
  .skills .progress .skill .val {
    float: right;
    font-style: normal;
  }
  .skills .progress-bar-wrap {
    background: #f2f3f5;
  }
  .skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #0563bb;
  }
/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #45505b;
  }
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #0563bb;
    position: relative;
  }
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #0563bb;
    margin-bottom: 10px;
  }
  .resume .resume-item h5 {
    font-size: 16px;
    background: #f7f8f9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .resume .resume-item ul {
    padding-left: 20px;
  }
  .resume .resume-item ul li {
    padding-bottom: 10px;
  }
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #0563bb;
  }
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
    margin-bottom: 30px;
  }
  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    background: #fff;
    border-radius: 50px;
    padding: 2px 15px;
  }
  .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #272829;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
  .portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
    color: #0563bb;
  }
  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  .portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(69, 80, 91, 0.8);
  }
  .portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
  }
  .portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .portfolio .portfolio-wrap .portfolio-info::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid #d7dce1;
    border-left: 3px solid #d7dce1;
    transition: all 0.5s ease 0s;
    z-index: 9994;
  }
  .portfolio .portfolio-wrap .portfolio-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid #d7dce1;
    border-right: 3px solid #d7dce1;
    transition: all 0.5s ease 0s;
    z-index: 9994;
  }
  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #45505b;
    font-weight: 600;
  }
  .portfolio .portfolio-wrap .portfolio-info p {
    color: #45505b;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }
  .portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
  }
  .portfolio .portfolio-wrap .portfolio-links a {
    color: #45505b;
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
  }
  .portfolio .portfolio-wrap .portfolio-links a:hover {
    color: #148af9;
  }
  .portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
  }
  .portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
  }
  .portfolio .portfolio-wrap:hover .portfolio-info::before {
    top: 15px;
    left: 15px;
  }
  .portfolio .portfolio-wrap:hover .portfolio-info::after {
    bottom: 15px;
    right: 15px;
  }
  
  /*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
  .portfolio-details {
    padding-top: 40px;
  }
  .portfolio-details .portfolio-details-slider img {
    width: 100%;
  }
  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #0563bb;
  }
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #0563bb;
  }
  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
  }
  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  .portfolio-details .portfolio-info ul li + li {
    margin-top: 10px;
  }
  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }
  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .portfolio-details .portfolio-description p {
    padding: 0;
  }
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
    text-align: center;
    padding: 70px 20px 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
  }
  .services .icon-box .icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
  }
  .services .icon-box .icon i {
    font-size: 36px;
    transition: 0.5s;
    position: relative;
  }
  .services .icon-box .icon svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  .services .icon-box .icon svg path {
    transition: 0.5s;
    fill: #f5f5f5;
  }
  .services .icon-box h4 {
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 22px;
  }
  .services .icon-box h4 a {
    color: #45505b;
    transition: ease-in-out 0.3s;
  }
  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .services .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
  }
  .services .iconbox-blue i {
    color: #47aeff;
  }
  .services .iconbox-blue:hover .icon i {
    color: #fff;
  }
  .services .iconbox-blue:hover .icon path {
    fill: #47aeff;
  }
  .services .iconbox-orange i {
    color: #ffa76e;
  }
  .services .iconbox-orange:hover .icon i {
    color: #fff;
  }
  .services .iconbox-orange:hover .icon path {
    fill: #ffa76e;
  }
  .services .iconbox-pink i {
    color: #e80368;
  }
  .services .iconbox-pink:hover .icon i {
    color: #fff;
  }
  .services .iconbox-pink:hover .icon path {
    fill: #e80368;
  }
  .services .iconbox-yellow i {
    color: #ffbb2c;
  }
  .services .iconbox-yellow:hover .icon i {
    color: #fff;
  }
  .services .iconbox-yellow:hover .icon path {
    fill: #ffbb2c;
  }
  .services .iconbox-red i {
    color: #ff5828;
  }
  .services .iconbox-red:hover .icon i {
    color: #fff;
  }
  .services .iconbox-red:hover .icon path {
    fill: #ff5828;
  }
  .services .iconbox-teal i {
    color: #11dbcf;
  }
  .services .iconbox-teal:hover .icon i {
    color: #fff;
  }
  .services .iconbox-teal:hover .icon path {
    fill: #11dbcf;
  }
/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
    padding: 20px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  .pricing h3 {
    font-weight: 400;
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #2c4964;
    background: #f8f8f8;
  }
  .pricing h4 {
    font-size: 36px;
    color: #5846f9;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
  }
  .pricing h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }
  .pricing h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
  }
  .pricing ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }
  .pricing ul li {
    padding-bottom: 16px;
  }
  .pricing ul i {
    color: #5846f9;
    font-size: 18px;
    padding-right: 4px;
  }
  .pricing ul .na {
    color: #ccc;
    text-decoration: line-through;
  }
  .pricing .btn-wrap {
    margin: 20px -20px -20px -20px;
    padding: 20px 15px;
    background: #f8f8f8;
    text-align: center;
  }
  .pricing .btn-buy {
    background: linear-gradient(42deg, #5846f9 0%, #7b27d8 100%);
    display: inline-block;
    padding: 10px 35px;
    border-radius: 4px;
    color: #fff;
    transition: none;
    font-size: 15px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    transition: 0.3s;
  }
  .pricing .btn-buy:hover {
    background: linear-gradient(180deg, #5846f9 0%, #7b27d8 100%);
  }
  .pricing .featured h3 {
    color: #fff;
    background: #5846f9;
  }
  .pricing .advanced {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #5846f9;
    color: #fff;
  }
/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel, .testimonials .testimonials-slider {
    overflow: hidden;
  }
  .testimonials .testimonial-item {
    box-sizing: content-box;
    min-height: 320px;
  }
  .testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    margin: -40px 0 0 40px;
    position: relative;
    z-index: 2;
    border: 6px solid #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  .testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 45px;
    color: #2c4964;
  }
  .testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0 0 0 45px;
  }
  .testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
    color: #b1a9fc;
    font-size: 26px;
  }
  .testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
  }
  .testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
  }
  .testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 15px 0 15px;
    padding: 20px 20px 60px 20px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
  }
  .testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  .testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #5846f9;
  }
  .testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #5846f9;
  }
  @media (max-width: 767px) {
    .testimonials {
      margin: 30px 10px;
    }
  }
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
    padding-bottom: 130px;
  }
  .contact .info {
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }
  .contact .info i {
    font-size: 20px;
    color: #149ddd;
    float: left;
    width: 44px;
    height: 44px;
    background: #dff3fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18;
  }
  .contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #173b6c;
  }
  .contact .info .email p {
    padding-top: 5px;
  }
  .contact .info .social-links {
    padding-left: 60px;
  }
  .contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
  }
  .contact .info .social-links a:hover {
    background: #149ddd;
    color: #fff;
  }
  .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
    background: #149ddd;
    color: #fff;
  }
  .contact .php-email-form {
    width: 100%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  .contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  .contact .php-email-form .form-group {
    margin-bottom: 15px;
  }
  .contact .php-email-form label {
    padding-bottom: 8px;
  }
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  .contact .php-email-form input {
    height: 44px;
  }
  .contact .php-email-form textarea {
    padding: 10px 15px;
  }
  .contact .php-email-form button[type=submit] {
    background: #149ddd;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  .contact .php-email-form button[type=submit]:hover {
    background: #37b3ed;
  }
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  font-size: 14px;
  background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("../img/hero-bg.jpg") center center no-repeat;
  background-size: cover;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  position: relative;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: underline;
  color: #fff;
}
#footer .footer-newsletter {
  font-size: 15px;
}
#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 5px;
  text-align: left;
  border: 1px solid white;
}
#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: -1px;
  right: -2px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: rgba(123, 39, 216, 0.8);
  color: #fff;
  transition: 0.3s;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-newsletter form input[type=submit]:hover {
  background: #5846f9;
}
#footer .copyright-wrap {
  border-top: 1px solid #8577fb;
}
#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #fff;
}
#footer .credits a {
  color: #fff;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none;
}
/*----------------------------------------------------
  BTN
-----------------------------------------------------*/
#myBtn1 {
    display: none;
    position: fixed;
    opacity: 99;
    font-size: 30px;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    background: #6c9ecf;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  #myBtn1:hover {
    background: #0678e3;
    color: #fff;
  }
  
  #mybtn1 i {
      align-items: center !important;
    text-align: center;
    font-size: 30px;
    color: #fff;
    line-height: 0;
  }

  /* 
  ig corp
  */

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

  
  
  /* Vars */
  :root {
    --primary: hsl(0, 0%, 100%);
    --secondary: hsl(0, 0%, 98%);
    --border: hsl(0, 0%, 86%);
  
    --story-border: hsl(0, 0%, 78%);
    --img-border: hsla(0, 0%, 0%, 0.1);
  
    --text-dark: hsl(0, 0%, 15%);
    --text-light: hsl(0, 0%, 60%);
  
    --like: hsl(355, 82%, 61%);
    --link: hsl(204, 100%, 48%);
  
    --header-height: 44px;
    --nav-height: 44px;
  }
  :root.darkTheme {
    --primary: hsl(0, 0%, 0%);
    --secondary: hsl(0, 0%, 2%);
    --border: hsl(0, 0%, 15%);
  
    --story-border: hsl(0, 0%, 44%);
    --img-border: hsla(0, 0%, 100%, 0.1);
  
    --text-dark: hsl(0, 0%, 98%);
    --text-light: hsl(0, 0%, 60%);
  }
  
  /* -------------------------------------------------- */
  /* CSS Reset */
  /* *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  *,
  button,
  input,
  select,
  textarea {
    font-family: 'Roboto', sans-serif;
  }
  body {
    min-height: 100vh;
  
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  } */
  /* General Styles */
  
  svg {
    display: block;
  }
  
  img {
    max-width: 100%;
  }
  
  /* -------------------------------------------------- */
  /* Main Content */
  .main-container {
    background-color: var(--primary);
  
    margin-top: var(--header-height);
    margin-bottom: var(--nav-height);
  
    display: flex;
    flex: 1;
  }
  
  .content-container {
    width: 100%;
    max-width: 935px;
  
    padding: 0 0 8px;
  
    margin: 0 auto;
    display: flex;
  }
  .content {
    width: 100%;
    max-width: 614px;
  
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .posts {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
  }
  
  .stories__left-button,
  .post__left-button,
  .stories__right-button,
  .post__right-button {
    width: 24px;
    height: 24px;
    display: none;
  
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  .post__left-button {
    left: 16px;
    opacity: 0.7;
  }
  .post__right-button {
    right: 16px;
    opacity: 0.7;
  }
  
  /* Components */
  /* Post */
  .post {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .post__header {
    background-color: var(--primary);
    border-bottom: 1px solid var(--border);
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }
  .post__profile {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .post__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }
  .post__avatar::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
    border: 1px solid var(--img-border);
    border-radius: 50%;
  }
  .post__user {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-dark);
    text-decoration: none;
    text-transform: lowercase;
  }
  .post__user:hover {
    text-decoration: underline;
  }
  .post__more-options {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .post__content {
    display: flex;
    position: relative;
  }
  .post__medias {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
  
    width: 100%;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .post__medias::-webkit-scrollbar {
    display: none;
  }
  .post__media {
    width: 100%;
    flex: none;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
  
  .post__footer {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 4px;
  }
  .post__buttons {
    display: flex;
    position: relative;
  }
  .post__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  
    padding: 8px;
  }
  .post__button--align-right {
    margin-left: auto;
  }
  .post__indicators {
    display: flex;
    align-items: center;
    gap: 4px;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  .post__indicator {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--text-light);
  }
  .post__indicator--active {
    background-color: var(--link);
  }
  
  .post__infos {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    gap: 10px;
  }
  .post__likes,
  .post__description {
    display: flex;
  }
  .post__likes {
    align-items: center;
    gap: 6px;
  }
  .post__likes-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }
  .post__likes-avatar::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
    border: 1px solid var(--img-border);
    border-radius: 50%;
  }
  .post__likes span,
  .post__description span {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-dark);
  }
  .post__likes a,
  .post__description a {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-dark);
    text-decoration: none;
  }
  .post__name--underline:hover {
    text-decoration: underline;
  }
  .post__date-time {
    font-size: 10px;
    font-weight: 400;
    color: var(--text-light);
    text-transform: uppercase;
  }
  
  /* Profile Button */
  .profile-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
  }
  .profile-button__border {
    display: none;
  
    width: 30px;
    height: 30px;
    border: 1px solid var(--text-dark);
    border-radius: 50%;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .profile-button:focus .profile-button__border {
    display: block;
  }
  .profile-button__picture {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  
    overflow: hidden;
    position: relative;
  }
  .profile-button__picture::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
    border: 1px solid var(--img-border);
    border-radius: 50%;
  }
  
  /* Media Queries */
  @media (max-width: 767px) {
    .header__buttons--desktop {
      display: none;
    }
  
    /* Fix post medias indicators bugs on mobile */
    .post__medias {
      gap: 1px;
    }
  }
  
  @media (min-width: 620px) {
    .content-container {
      padding: 30px 0 24px;
    }
  
    .content {
      gap: 24px;
    }
  
    .stories {
      border: 1px solid var(--border);
      border-radius: 4px;
    }
    .stories::after {
      content: none;
    }
  
    .posts {
      gap: 24px;
    }
    .post {
      border: 1px solid var(--border);
      border-radius: 4px;
    }
    .post__footer {
      padding: 4px 8px 12px;
    }
    .post__date-time {
      margin-top: 6px;
    }
  }
  
  
  @media (min-width: 1024px) {
    .main-container {
      background-color: var(--secondary);
    }
  
    .content {
      margin: unset;
    }
  
    .side-menu {
      display: flex;
    }
  }
  
  
